/* Rotate Enter */
.enter {
  transform: rotate(0deg);
}
.enter-active,
.enter-done {
  transform: rotate(45deg);
}
.enter-active {
  transition: all 400ms;
}

/* Rotate Exit */
.exit {
  transform: rotate(45deg);
}
.exit-active,
.exit-done {
  transform: rotate(0deg);
}
.exit-active {
  transition: all 400ms;
}
