html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.nav-item {
  /* color: red; */
}

.nav-item:hover {
  text-shadow: 0 0 30px black;
}

.nav-item-active {
  border-bottom: 1px solid #fff !important;
  padding-bottom: 0px !important;
  border-radius: 0 !important;
}

.m-nav-item-active {
  background-color: #1976d2;
  color: #fff;
}

/* Rotate Enter */
.rotate-enter {
  transform: rotate(0deg);
}
.rotate-enter-active,
.rotate-enter-done {
  transform: rotate(45deg);
}
.rotate-enter-active {
  transition: all 400ms;
}

/* Rotate Exit */
.rotate-exit {
  transform: rotate(45deg);
}
.rotate-exit-active,
.rotate-exit-done {
  transform: rotate(0deg);
}
.rotate-exit-active {
  transition: all 400ms;
}
